*.DS_Store

Generations/Temp/*

Generations/Library/cache/*
Generations/Library/metadata/*
Generations/Library/previews/*
Generations/Library/ScriptAssemblies/*
Generations/Library/*.prefs
Generations/Library/*.txt
Generations/Library/AssetDatabase3
Generations/Library/AssetImportState
Generations/Library/AssetServerCacheV3
Generations/Library/AssetVersioning.db
Generations/Library/BuildPlayer.prefs
Generations/Library/EditorSettings.asset
Generations/Library/expandedItems
Generations/Library/FailedAssetImports.txt
Generations/Library/guidmapper
Generations/Library/InspectorExpandedItems.asset
Generations/Library/MonoManager.asset
Generations/Library/ScriptMapper
Generations/Library/AnnotationManager

Generations/Assembly-*

Generations/*.sln
Generations/*.csproj
Generations/*.userprefs
Generations/*.pidb
Generations/obj/*

*.mb.*
Generations/Library/assetDatabase3
Generations/Builds/*
